# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Unit test / coverage reports
.pytest_cache/

# Environment variables
.env

# VS Code
.vscode/